@media(max-width:576px){
    .nav-content {
        left: 131%;
        display: flex;
        align-items: center;
    }

    .nav-content img {
        top: 0;
    }

    .nav-icon img {
        width: 37%;
        margin-left: 97%;
    }

    #nav {
        height: 82px;
    }

    .top-payer {
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }

    .container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .top-blogs {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 30%;
    }

    .latest-course {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 16%;
        padding-top: 7%;
    }
}

@media(min-width:577px) and (max-width:768px){
    .nav-content {
        left: 131%;
        display: flex;
        align-items: center;
    }

    .nav-content img {
        top: 0;
    }

    .nav-icon img {
        width: 29%;
        margin-left: 97%;
    }

    #nav {
        height: 82px;
    }

    .top-payer {
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }

    .container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .top-blogs {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 30%;
    }

    .latest-course {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 16%;
        padding-top: 7%;
    }
}

@media(min-width:767px) and (max-width:992px){
    .nav-content {
        left: 131%;
        display: flex;
        align-items: center;
    }

    .nav-content img {
        top: 0;
    }

    .nav-icon img {
        width: 25%;
        margin-left: 97%;
    }

    #nav {
        height: 82px;
    }

    .top-payer {
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }

    .container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .top-blogs {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 30%;
    }

    .latest-course {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 16%;
        padding-top: 7%;
    } */
}

@media(min-width:993px) and (max-width:1200px){

    .container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .top-blogs {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 26%;
    }

    .latest-course {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 9%;
        padding-top: 7%;
    }
}